<% provide(:title, "Index") %>

<div class="cover-container d-flex p-3">
    <main role="main" class="inner cover mx-auto text-center">
        <h1 class="cover-heading">Events App!</h1>
        <p class="lead">Welcome to our app. If you want to make an event this app is for you!</p>
        <p class="lead">Sign up now for free!</p>
        <p class="lead">
          <a href="<%= signup_path %>" class="btn btn-lg btn-secondary">Sign up</a>
        </p>
    </main>
</div>