<section class="container">
  <h2 class="col-sm-6 m-auto py-3">Please log in: </h2>
  <div class= "col-sm-6 m-auto ">
    <%= form_with url: sessions_path do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class:'form-control', required: true %>
      </div>
      <%= f.submit 'Log In' %>
    <% end %>
  </div>
</section>
