<% provide(:title, @user.name) %>
<section class="container">
  <h2 class="col-sm-6 m-auto py-3">My Information: </h2>
  <div class= "col-sm-6 m-auto ">
    Name: <%= @user.name %> <br>
    Email: <%= @user.email %><br>
    Member since: <%= @user.created_at %><br>
  </div>
</section>
