<h3 class="card-header text-center text-light mt-1 ">
  <%= section_h %>
</h3>
<div class="py-1 row m-0">
  <% if events.future.any? %>
    <%= render 'events/events', event_group: events.future, subtitle: 'Upcoming' %>
  <% end %>
  <% if events.past.any? %>
    <%= render 'events/events', event_group: events.past, subtitle: 'Past' %>
  <% end %>

</div>
