<h3 class="card-header text-center bg-secondary text-light mt-1 ">
  <%= section_h %>
  <small class="rounded-pill ml-3 py-1 px-3 bg-dark">
    <%= events.count %>
  </small>
</h3>
<div class="py-1 row m-0">
  <% if events.future.any? %>
    <%= render 'events/events', event_group: events.future, subtitle: 'Upcoming' %>
  <% end %>
  <% if events.past.any? %>
    <%= render 'events/events', event_group: events.past, subtitle: 'Past' %>
  <% end %>

</div>
