header {
  nav {
    background-color: #5d4954;
    a {
      color: lightgray;
    }
    a:hover {
      color: gray;
      text-decoration: none !important;
    }
  }
}

body {
  background-color: #feffea;
}

h3.card-header{
  background-color: #84acce;
}
h5.card-header{
  background-color: #a3a3a3;
}
.card-title{
  height: 2.5em;
  overflow:hidden;
}
p.card-text{
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field_with_errors {
  input, textarea {
    border: solid 1px red;
  }
}
