header {
  nav {
    a {
      color: lightgray;
    }
    a:hover {
      color: gray;
      text-decoration: none !important;
    }
  }
}

.card-title{
  height: 2.5em;
  overflow:hidden;
}
p.card-text{
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field_with_errors input {
  border: solid 1px red;
}
